/* styles.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    height: 100vh; 
}
body{
    background-color: #FFF3FF;
    color: #350052;
}
.imagem{
    max-width: 80%; 
    height: auto; 
    margin-bottom: 20px; 
}